.divPrincipal {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.input {
    position: relative;
    display: flex;
    bottom: 0.7em;
    left: 1.0em;
    margin-right: 3em;
    border-radius: 0.4em;
    height: 30px;
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    bottom: 28px;
    right: 5px;
    margin: 5px;
    height: 70px;
    border-radius: 999px;
    padding: 1em 2em;
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
    border: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    transition: box-shadow 0.25s ease 0s;
    letter-spacing: 0.08rem;
    width: auto;
}