.paginated {
    display: flex;
    height: 27px;
    justify-content: space-evenly;
    background-color: rgba(255, 183, 39, 0.9);
}

.current {
    background-color: rgb(244, 136, 4);
    padding: 5px;
}

.btn{
    position: relative;
    right: 47%;
    top: 27px;
    border-radius: 30%;
    font-family: "Open Sans";
    font-size: 17px;
    background: #ff8d23;
    text-align: center;
    color: #d9d9d9;
    cursor: pointer;
    border: none;
    width: 1.5rem;
    height: 1.8rem;
}

.btn2{
    position: relative;
    left: 49%;
    bottom: 28px;
    font-family: "Open Sans";
    font-size: 17px;
    background: #ff8d23;
    text-align: center;
    color: #d9d9d9;
    border-radius: 30%;
    cursor: pointer;
    border: none;
    width: 1.5rem;
    height: 1.8rem;
}